In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df_train = pd.read_csv('../Kaggle-Obesity/train.csv')
df_test = pd.read_csv('../Kaggle-Obesity/test.csv')
df_ss = pd.read_csv('../Kaggle-Obesity/sample_submission.csv')

In [4]:
#df_test.head()

,id,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,20758,Male,26.899886,1.848294,120.644178,yes,yes,2.938616,3.000000,Sometimes,no,2.825629,no,0.855400,0.000000,Sometimes,Public_Transportation
1,20759,Female,21.000000,1.600000,66.000000,yes,yes,2.000000,1.000000,Sometimes,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation
2,20760,Female,26.000000,1.643355,111.600553,yes,yes,3.000000,3.000000,Sometimes,no,2.621877,no,0.000000,0.250502,Sometimes,Public_Transportation
3,20761,Male,20.979254,1.553127,103.669116,yes,yes,2.000000,2.977909,Sometimes,no,2.786417,no,0.094851,0.000000,Sometimes,Public_Transportation
4,20762,Female,26.000000,1.627396,104.835346,yes,yes,3.000000,3.000000,Sometimes,no,2.653531,no,0.000000,0.741069,Sometimes,Public_Transportation

In [3]:
df_train.drop(['id'], axis = 1, inplace = True)
df_test.drop(['id'], axis = 1, inplace = True)

In [6]:
# df_train = df_train.rename(columns={'NObeyesdad':'target'})
# df_test = df_test.rename(columns={'NObeyesdad':'target'})

In [4]:
df_train['NObeyesdad'].unique()

array(['Overweight_Level_II', 'Normal_Weight', 'Insufficient_Weight',
       'Obesity_Type_III', 'Obesity_Type_II', 'Overweight_Level_I',
       'Obesity_Type_I'], dtype=object)

In [5]:
df_train.dtypes

Gender                             object
Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                              float64
NCP                               float64
CAEC                               object
SMOKE                              object
CH2O                              float64
SCC                                object
FAF                               float64
TUE                               float64
CALC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

### Categorical Variables - One Hot Encoding vs Label Encoding
#### Label Encoding: When there is an ordinal relationship among categories - order to a relationship
Ordinal - CAEC, CALC, NObeyesdad 

#### One Hot Encoding: When there is a nominal relationship among categories - no order- so every category has equal importance (Even Yes or No/ other binary categories come under this)
Nominal - Gender, family_history_with_overweight, FAVC, SCC, SMOKE, MTRANS

#### Guide to encoding
1. Binary - Use as is
2. Nominal - One Hot Encoding
3. Ordinal - Label Encoding

In [9]:
# Label Encoding of Target
# NObeyesdad is the target variable (['Overweight_Level_II', 'Normal_Weight', 
#  'Insufficient_Weight', 'Obesity_Type_III', 'Obesity_Type_II', 'Overweight_Level_I',
#   'Obesity_Type_I]'

In [6]:
df_train['NObeyesdad'] = df_train['NObeyesdad'].replace('Insufficient_Weight',0)
df_train['NObeyesdad'] = df_train['NObeyesdad'].replace('Normal_Weight',1)
df_train['NObeyesdad'] = df_train['NObeyesdad'].replace('Overweight_Level_I',2)
df_train['NObeyesdad'] = df_train['NObeyesdad'].replace('Overweight_Level_II',3)
df_train['NObeyesdad'] = df_train['NObeyesdad'].replace('Obesity_Type_I',4)
df_train['NObeyesdad'] = df_train['NObeyesdad'].replace('Obesity_Type_II',5)
df_train['NObeyesdad'] = df_train['NObeyesdad'].replace('Obesity_Type_III',6)

In [11]:
#  Label Encoding of Other Ordinal Variables
# CAEC (['Sometimes', 'Frequently', 'no', 'Always'])
# CALC (['Sometimes', 'no', 'Frequently'])

In [7]:
df_train['CAEC'] = df_train['CAEC'].replace('no',0)
df_train['CAEC'] = df_train['CAEC'].replace('Sometimes',1)
df_train['CAEC'] = df_train['CAEC'].replace('Frequently',2)
df_train['CAEC'] = df_train['CAEC'].replace('Always',3)
df_train['CALC'] = df_train['CALC'].replace('no',0)
df_train['CALC'] = df_train['CALC'].replace('Sometimes',1)
df_train['CALC'] = df_train['CALC'].replace('Frequently',2)

In [13]:
# One hot encoding - Gender, family_history_with_overweight, FAVC, SMOKE
# MTRANS (['Public_Transportation', 'Automobile', 'Walking', 'Motorbike','Bike'])

In [8]:
nominal = ['Gender', 'family_history_with_overweight', 'FAVC', 'SCC', 'SMOKE','MTRANS']

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
one_hot_enc = OneHotEncoder(drop='if_binary', handle_unknown='ignore', sparse = False)

In [11]:
df_ohe = one_hot_enc.fit_transform(df_train[nominal])
X_cat = pd.DataFrame(df_ohe, columns=one_hot_enc.get_feature_names_out())
X_cat.head()

,Gender_Male,family_history_with_overweight_yes,FAVC_yes,SCC_yes,SMOKE_yes,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
df_train = df_train.select_dtypes(exclude=['object'])
#df_train = df_train.reset_index(drop=True)
df_train = pd.concat([df_train,X_cat],axis=1)
df_train.head()

,Age,Height,Weight,FCVC,NCP,CAEC,CH2O,FAF,TUE,CALC,...,Gender_Male,family_history_with_overweight_yes,FAVC_yes,SCC_yes,SMOKE_yes,MTRANS_Automobile,MTRANS_Bike,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking
0,24.443011,1.699998,81.669950,2.000000,2.983297,1,2.763573,0.000000,0.976473,1,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,18.000000,1.560000,57.000000,2.000000,3.000000,2,2.000000,1.000000,1.000000,0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,18.000000,1.711460,50.165754,1.880534,1.411685,1,1.910378,0.866045,1.673584,0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,20.952737,1.710730,131.274851,3.000000,3.000000,1,1.674061,1.467863,0.780199,1,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,31.641081,1.914186,93.798055,2.679664,1.971472,1,1.979848,1.967973,0.931721,1,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

In [14]:
numerical_data = df_train[['Age','Height', 'Weight']]
scaler = StandardScaler()
scaled_numerical_data = scaler.fit_transform(numerical_data)
df_train[['Age','Height', 'Weight']] = scaled_numerical_data

In [28]:
#df_train.head()

In [15]:
df_train['NObeyesdad'].value_counts()
## there is an imbalance in the target distribution.

6    4046
5    3248
1    3082
4    2910
0    2523
3    2522
2    2427
Name: NObeyesdad, dtype: int64

In [ ]:
# one_hot_enc.fit_transform(df_train[nominal])

In [ ]:
#df_test['CALC'].value_counts()
# Since df_test has 4 unique categories and train only has 3, we can merge 'Always' 
# with the nearest value ie Frequently.

In [ ]:
df_test['CALC'] = df_test['CALC'].replace({'Always':'Frequently'})

In [ ]:
training = df_train.copy()
test = df_test.copy()